 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 791px;
}

.u-section-1 .u-image-1 {
  width: 632px;
  height: 567px;
  margin: 214px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 649px;
  min-height: 382px;
  margin: -731px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-self: center;
  background-image: none;
  border-style: none;
  margin: 30px auto 0 0;
  padding: 20px 45px 20px 44px;
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 475px;
    height: 386px;
    margin-top: 399px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-1 .u-image-1 {
    width: 415px;
    height: 355px;
    margin-top: 431px;
    margin-right: 30px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -766px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-image-1 {
    height: 291px;
    margin-top: 564px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -836px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 629px;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  font-weight: 600;
  font-size: 3rem;
  margin: 26px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 400px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 30px 25px;
}

.u-section-2 .u-image-1 {
  height: 213px;
  width: 185px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 10px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 30px 25px;
}

.u-section-2 .u-image-2 {
  height: 213px;
  width: 185px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 10px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 30px 25px;
}

.u-section-2 .u-image-3 {
  height: 213px;
  width: 185px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 10px auto 0;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 30px 25px;
}

.u-section-2 .u-image-4 {
  height: 213px;
  width: 185px;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 10px auto 0;
}

.u-section-2 .u-text-9 {
  font-size: 1rem;
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    min-height: 1011px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 932px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 3rem;
  text-transform: none;
  text-decoration: none solid rgb(17, 17, 17);
  margin: 252px 620px 0 -50px;
}

.u-section-3 .u-image-1 {
  width: 610px;
  height: 610px;
  margin: -261px 74px 0 auto;
}

.u-section-3 .u-text-2 {
  margin: -312px 690px 0 58px;
}

.u-section-3 .u-list-1 {
  width: 1091px;
  margin: 209px auto 0 -12px;
}

.u-section-3 .u-repeater-1 {
  min-height: 85px;
  grid-template-columns: calc(33.3333% - 98px) calc(33.3333% - 98px) calc(33.3333% - 98px);
  grid-gap: 147px 147px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 15px 0 10px;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: center;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 0 44px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 15px 0 10px;
}

.u-section-3 .u-btn-2 {
  align-self: center;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0 auto 0 44px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 15px 0 10px;
}

.u-section-3 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: center;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 0 44px;
}

.u-section-3 .u-list-2 {
  width: 1164px;
  margin: -1px -12px 8px auto;
}

.u-section-3 .u-repeater-2 {
  grid-template-columns: calc(33.3333% - 38px) calc(33.3333% - 38px) calc(33.3333% - 38px);
  min-height: 233px;
  grid-gap: 57px 57px;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 0 0;
}

.u-section-3 .u-text-3 {
  line-height: 1.8;
  font-weight: 400;
  margin: 0 32px 0 53px;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px 0 0;
}

.u-section-3 .u-text-4 {
  line-height: 1.8;
  font-weight: 400;
  margin: 0 32px 0 53px;
}

.u-section-3 .u-container-layout-6 {
  padding: 20px 0 0;
}

.u-section-3 .u-text-5 {
  line-height: 1.8;
  font-weight: 400;
  margin: 0 32px 0 53px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 570px;
    margin-right: 520px;
  }

  .u-section-3 .u-text-2 {
    width: 733px;
    margin-left: 0;
    margin-right: 548px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
    padding: 20px 58px 22px 57px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
    padding: 20px 58px 22px 57px;
  }

  .u-section-3 .u-list-2 {
    width: 940px;
    height: auto;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 285px;
    margin-right: 285px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 73.5px) calc(50% - 73.5px);
  }

  .u-section-3 .u-list-2 {
    width: 720px;
    margin-right: auto;
    margin-left: 210px;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: calc(50% - 28.5px) calc(50% - 28.5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
    margin-top: 535px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-3 .u-list-2 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-top: 402px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-list-2 {
    width: 340px;
    margin-left: 400px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 654px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 30px 10px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.6;
  margin: 60px 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 654px;
  background-image: url("images/Aboutuspage-amico.svg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 539px;
  }

  .u-section-4 .u-image-1 {
    min-height: 539px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1058px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 2046px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 98px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 967px;
  margin: 125px auto 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 640px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 17px -63px 0;
}

.u-section-5 .u-text-3 {
  line-height: 1.6;
  margin: 99px 0 0;
}

.u-section-5 .u-image-1 {
  background-image: url("images/Locationreview-amico.svg");
  background-position: 50% 50%;
  min-height: 640px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-layout-wrap-2 {
  pointer-events: auto;
  width: 967px;
  margin: -59px auto 0;
}

.u-section-5 .u-image-2 {
  min-height: 503px;
  background-image: url("images/Completed-amico.svg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 503px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-5 .u-text-4 {
  font-size: 2.25rem;
  font-weight: 700;
  background-image: none;
  margin: 0 17px;
}

.u-section-5 .u-text-5 {
  line-height: 1.6;
  margin: 86px 0 0;
}

.u-section-5 .u-layout-wrap-3 {
  pointer-events: auto;
  width: 967px;
  margin: 45px auto 59px 87px;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 503px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 17px;
}

.u-section-5 .u-text-7 {
  margin: 112px 0 0;
}

.u-section-5 .u-image-3 {
  background-image: url("images/Ecommercecampaign-bro.svg");
  background-position: 50% 50%;
  min-height: 503px;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1786px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 622px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 622px;
  }

  .u-section-5 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-5 .u-image-2 {
    min-height: 489px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 489px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-layout-wrap-3 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 489px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-image-3 {
    min-height: 489px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2894px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    min-height: 986px;
  }

  .u-section-5 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-5 .u-image-2 {
    min-height: 775px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-wrap-3 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-5 .u-image-3 {
    min-height: 775px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2325px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-image-1 {
    min-height: 740px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-5 .u-image-2 {
    min-height: 581px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-3 {
    width: 540px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    min-height: 581px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1694px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    min-height: 466px;
  }

  .u-section-5 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-5 .u-image-2 {
    min-height: 366px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-wrap-3 {
    width: 340px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 1px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 19px;
  }

  .u-section-5 .u-image-3 {
    min-height: 366px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 686px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 529px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-form-1 {
  height: 317px;
  margin: 0 auto 0 -60px;
}

.u-section-6 .u-form-group-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-6 .u-form-group-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-6 .u-form-group-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-6 .u-form-group-4 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-6 .u-form-group-5 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 31px 10px 29px;
}

.u-section-6 .u-image-1 {
  min-height: 529px;
  background-image: url("images/Contactus-pana.svg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: -557px -30px 60px 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 436px;
  }

  .u-section-6 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-btn-1 {
    width: 100%;
  }

  .u-section-6 .u-image-1 {
    min-height: 436px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    min-height: 334px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -497px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 518px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-6 .u-image-1 {
    min-height: 326px;
  }
}